<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.dao.FileMapper">
    <insert id="insert">
        insert into file ( creator_id,name, size, suffix,type,uploaddate,path,parent_id)
        VALUES (#{creator_id},#{name},#{size},#{suffix},#{type},#{uploaddate},#{path},#{parent_id});
    </insert>
    <delete id="delete">
        delete from file where id=#{id};
    </delete>

    <select id="query" resultType="com.system.model.FileUserPo">
        select f.*,u.account from file f
        left join user u
        on f.creator_id=u.id
        where u.token=#{token};
    </select>
    <select id="queryUser" resultType="com.system.model.UserPo">
        select * from user where token=#{token};
    </select>
    <select id="queryAll" resultType="com.system.model.FileUserPo">
        select f.*,u.account from file f left join user u on f.creator_id=u.id;
    </select>
    <select id="queryUserId" resultType="java.lang.Integer">
        select id from user where token=#{token};
    </select>
    <select id="downLoad" resultType="java.lang.String">
        SELECT name from file where id=#{id};
    </select>
</mapper>
